<section class="main container">
  <div class="row">

    <section class="posts col-md-9">

      <div class="miga-de-pan">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Noticias</li>
          <li class="breadcrumb-item">Categorias</li>
          <li class="breadcrumb-item active">Todo</li>
        </ol>
      </div>

      <article class="post clearfix" *ngFor="let article of articles | async">

        <a [routerLink]="['/noticias', article._id]" class="thumb float-md-left">
          <img class="img-thumbnail" [src]="article.imageUrl" id="imagen25" style="width: 339px; height: 175px" alt="">
        </a>

        <h2 class="post-title align-self-md-end">
          <a [routerLink]="['/noticias', article._id]">{{ article.title }}</a>
        </h2>

        <p><span class="post-fecha">{{ article.date | date }} por</span> <span class="post-autor"><a routerLink="/noticias">{{ article.autor }}</a></span></p>

        <p class="post-contenido text-justify">{{ article.story | slice:200}}</p>

        <div class="contenedor-botones">
          <a [routerLink]="['/noticias', article._id]" class="btn btn-primary" id="boton1">
            <img  class="mr-2" src="../assets/img/papel.png" alt="" style="height: 20px; width: 20px">Seguir Leyendo</a>
          <a [routerLink]="['/noticias', article._id]" class="btn btn-success "id="boton2">
            <img  class="mr-2" src="../assets/img/comentario.png" alt="" style="height: 20px; width: 20px">Comentarios <span class="badge badge-dark">20</span></a>
        </div>

      </article>

      <nav aria-label="Page navigation" class="paginacion col-10 col-md-12 align-items-center mb-5">
          <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item"><a class="page-link" >&laquo;<span class="sr-only">Anterior</span></a></li>
            <li class="page-item "><a class="page-link active2" id="barranavegacion3" >1</a></li>
            <li class="page-item"><a class="page-link" >2</a></li>
            <li class="page-item"><a class="page-link" >3</a></li>
            <li class="page-item"><a class="page-link" >4</a></li>
            <li class="page-item"><a class="page-link">5</a></li>
            <li class="page-item"><a class="page-link">&raquo; <span class="sr-only">Siguiente</span></a></li>
          </ul>
      </nav>
    </section>
    <hr>

    <aside class=" col-md-3 d-none d-sm-none d-md-block mt-2 mb-2">
      <h4 class="text-center">Categorias</h4>
      <div class="categorias list-group row">
        <a class="list-group-item mt-2 active2" id="barracategorias3">Todo</a>
        <a class="list-group-item">Peliculas</a>
        <a class="list-group-item">Series</a>
        <a class="list-group-item">Premios</a>
        <a class="list-group-item">Trailers</a>
        <a class="list-group-item">Superheroes</a>
        <a class="list-group-item mb-2">Estrenos</a>
      </div>
      <hr>
      <h4 class="text-center">Articulos Destacados</h4>
      <div class="list-group row">
        <a [routerLink]="['/noticias', article._id]" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let article of articles | async">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ article.title }}</h5>
          </div>
          <hr>
          <p class="mb-1">{{ article.story | slice:60}}</p>
          <small>{{ article.date | date }}</small>
        </a>
      </div>

    </aside>
  </div>
</section>
