<div class="container">
  <div class="moviecard">
    <div class="movie-poster play-trailer" id="poster2">
      <a href="http://www.youtube.com"><img [src]="serie?.imageUrl" [alt]="serie?.title" ></a>
    </div>
    <div id="movie-content">
      <div class="movie-ratings">
        <span class="star">★</span>
        <span class="score">{{ serie?.rating }}</span>
        <span class="score-out-of">/ 10 (IMDB)</span>
      </div>
      <div class="movie-title"><span>{{ serie?.title }}</span>
        <span class="movie-year">{{ serie?.year }}</span>
      </div>
      <div class="movie-details"><span class="movie-rating">{{ serie?.age }}</span>
        <span class="movie-duration">{{ serie?.duration }}</span>
        <span class="movie-genre">{{ serie?.category }}</span>
      </div>
      <div class="movie-castcrew">
        <span class="title">Creador</span>
        <span class="name">{{ serie?.creator }}</span>
      </div>
      <div class="movie-castcrew">
        <span class="title">Productor</span><span class="name ml-1">{{ serie?.writer }}</span>
      </div>
      <div class="movie-castcrew">
        <span class="title">Cast</span><span class="name">{{ serie?.cast }}</span>
      </div>
      <div class="movie-synopsis" [innerHtml]="serie?.story"></div>
      <button class="btn btn-primary col-sm4 ml-5 mr-4" id="botons1" type="button">
        <img  class="mr-2" src="../assets/img/play.png" alt="" style="height: 20px; width: 20px">Marcar como Vista</button>
      <button class="btn btn-danger col-sm-4 ml-4" id="botons2" routerLink="/series" type="button">
        <img  class="mr-2" src="../assets/img/atras.png" alt=""  style="height: 20px; width: 20px">Volver a Series</button>
    </div>
  </div>
</div>
