<div class="content-area">



  <div class="container mb-5">
    <div class="row busqueda mt-2 justify-content-between" id="barrabusqueda">
      <h1 class="col-sm-2">Peliculas</h1>
      <!--<form class="form-inline align-content-center">-->
        <!--<input class="form-control mr-sm-2 col-sm-6" type="search" placeholder="..." aria-label="Search">-->
        <!--<button class="btn btn-secondary col-sm-4" type="submit">-->
          <!--<img  class="mr-2" src="../assets/img/search.png" alt="" style="height: 20px; width: 20px">Buscar</button>-->
      <!--</form>-->
    </div>
    <div class="row principal justify-content-center align-content-center">
      <div class="col-lg-9 col-xs-12 justify-content-center">
        <!--<h2 class="titulo1">Agregadas Recientemente</h2>-->
        <!--<hr>-->
        <div class="row justify-content-center">
          <div class="col-md-4 col-xs-6 col-sm-6 col-lg-3" *ngFor="let movie of movies | async">
            <div class="card" [routerLink]="['/peliculas', movie._id]">
              <img class="card-img img-fluid" id="imagen1" [src]="movie.imageUrl"
                   style="width: 210px; height: 285px" alt="Card image">
              <div class="card-img-overlay">
                <p class="card-text">{{ movie.title }}</p>
              </div>
            </div>
          </div>
      </div>

      <div class="col-lg-2 d-none d-sm-none d-lg-block ml-5 pl-3 align-content-end">
        <div class="categorias list-group row" >
          <button class="list-group-item mt-2 active2" id="barracategorias">Categorias</button>
          <a class="list-group-item list-group-item-action">Accion</a>
          <a class="list-group-item list-group-item-action">Animacion</a>
          <a class="list-group-item list-group-item-action">Aventura</a>
          <a class="list-group-item list-group-item-action">Biografico</a>
          <a class="list-group-item list-group-item-action">Ciencia Ficción</a>
          <a class="list-group-item list-group-item-action">Comedia</a>
          <a class="list-group-item list-group-item-action">Drama</a>
          <a class="list-group-item list-group-item-action">Familiar</a>
            <a class="list-group-item list-group-item-action">Romance</a>
          <a class="list-group-item list-group-item-action">Superheroes</a>
          <a class="list-group-item list-group-item-action">Thriller</a>
          <a class="list-group-item list-group-item-action mb-2">Terror</a>
        </div>
      </div>

    </div>

    <div class="container row mb-5 mt-5">
      <nav aria-label="Page navigation" class="paginacion col-12 align-items-center" >
        <ul class="pagination pagination-lg justify-content-center">
          <li class="page-item"><a class="page-link" >&laquo;<span class="sr-only">Anterior</span></a></li>
          <li class="page-item "><a class="page-link active2" id="barranavegacion" >1</a></li>
          <li class="page-item"><a class="page-link" >2</a></li>
          <li class="page-item"><a class="page-link" >3</a></li>
          <li class="page-item"><a class="page-link" >4</a></li>
          <li class="page-item"><a class="page-link">5</a></li>
          <li class="page-item"><a class="page-link">&raquo; <span class="sr-only">Siguiente</span></a></li>
        </ul>
      </nav>
    </div>

  </div>
</div>












