<div class="todo">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <img class="img-fluid rounded mt-3" src="../assets/img/movies.jpg" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="jumbotron col-lg-3 text-justify mt-3">
        <h2 class="text-center">Contactanos</h2>
        <hr>
        <address>
          <strong>What The Flick?</strong>
          <br>Rocket Road
          <br>Hawthorne, California
          <br>1030 15va Calle N.W.
          <br>
        </address>
        <address>
          <p><strong>Telefono:</strong> (310) 363-6000
            <br><strong>Ventas:</strong> <a href="mailto:#">sales@wtf.com</a>
            <br><strong>Media:</strong> <a href="mailto:#">media@wtf.com</a></p>
        </address>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-primary my-4 text-center">
      <div class="card-body">
        <p class="display-5 m-0">
          ¿Quieres comunicarte con nosotros? ¡Hemos puesto a tu disposición este formulario
          para hacerlo posible!
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="jumbotron col-lg-5 text-justify">
        <p><em><strong>“</strong>Un buen vino es como una buena película: dura un instante y te deja en
          la boca un sabor a gloria; es nuevo en cada sorbo y , como ocurre con las películas, nace y
          renace en cada saboreador..<strong>”</strong></em></p><br><br><br>
        <h2 class="">— Federico Fellini </h2>
      </div>
      <form class="form col-6 ml-4"  method="post" action="">
        <div class="">
          <div class="form-row mt-2">
            <div class="form-group col-md-6">
              <label for="asunto"><strong>Asunto:</strong></label>
              <input type="text" name="asunto" class="form-control" id="asunto" placeholder="Asunto" required>
            </div>
            <div class="form-group col-md-6">
              <label for="correo"><strong>Correo:</strong></label>
              <input type="email" name="correo" class="form-control" id="correo" placeholder="Correo" required>
            </div>
          </div>
          <div class="form-row justify-content-center">
            <div class="form-group col-lg-12">
              <label><strong>Mensaje:</strong></label>
              <textarea class="form-control" name="mensaje" id="mensaje" rows="5" style="resize: none;" placeholder="Su mensaje..." required></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-12 text-center">
              <button type="submit" class="btn btn-success mt-2 text-center" name="botonc1" id="botonc1">
                <img  class="mr-2 " src="../assets/img/enviar.png"  alt="" style="height: 20px; width: 20px">Enviar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


